<div>
    <h2>Product Details</h2>
    <table style="margin-left:20px">
      <tr>
        <td>Product ID:</td>
        <td>{{product.id}}</td>
      </tr>
      <tr>
        <td>Product Name:</td>
        <td>{{product.name}}</td>
      </tr>
      <tr>
        <td>Product Description:</td>
        <td>{{product.description}}</td>
      </tr>
      <tr>
        <td>Manufacturer:</td>
        <td>{{product.manufacturer}}</td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>{{product.price}}</td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td>{{product.quantity}}</td>
      </tr>

    </table>
    <button (click)="goBack()">Back</button>
</div>
